# Visual Studio

*.njsproj
*.vcxproj.filters
*.sln
*.vcxproj
.ntvs_analysis.dat
*.sdf
*.suo
*.vcxproj.user

# Misc
.vscode
node_modules/
build/
prebuilds/
npm-debug.log

# Logged telem data
test/*.json
